@model IEnumerable<Chat.Models.Comment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProfile.cshtml";
}
<h2 class="text-success text-center">Welcome to Chat Room</h2>
@using (Html.BeginForm("PostComment", "ChatRoom", FormMethod.Post))
{
    <input class="pull-right" type="text" name="Coment" placeholder="Add new comment...."
           style="width:100%;height:100%; font-size:20px; margin-top:10px" />
    <br />
    <br/>
    <input type="submit" value="Comment" class="btn btn-success pull-right"
           style="margin-bottom:10px" />
}
<table class="table text-center" style="margin-top:15px">
    @foreach (var comment in Model)
    {
        <tr style="border:1px solid black">
            <td>
                <span style="margin-right:15px; font-size:16px; color:green">
                    @comment.User.UserName
                </span>
                <span style="font-size:20px">
                    @Html.DisplayFor(modelItem => comment.Text)
                </span>
                <span style="margin-left:10px">
                    @comment.CreatedOn
                </span>
                @foreach (var reply in comment.Replies)
                {
                    <br />
                    <span style="margin-right:15px;font-size:16px;color:darkslateblue">
                        @reply.User.UserName
                    </span>
                    <span style="font-size:18px">
                        @reply.Text
                    </span>
                    <span style="margin-left:10px">
                        @reply.CreatedOn
                    </span>
                }
                <br />
                @using (Html.BeginForm("PostReply", "ChatRoom", FormMethod.Post))
                {
                    <input type="text" name="Reply" placeholder="Add new Reply" style="width:100%;height:100%; font-size:20px; margin-top:10px" />
                    <br />
                    <input type="hidden" name="CID" value="@comment.Id" />
                    <input type="submit" value="Reply" class="btn btn-success" style="margin-top:10px" />
                }
            </td>
        </tr>
    }
</table>
